@mixin scale($x) {
    -webkit-transform: scale($x);
    -moz-transform: scale($x);
    -ms-transform: scale($x);
    -o-transform: scale($x);
    transform: scale($x);
}

@mixin transition($t) {
    -webkit-transition: $t;
    -moz-transition: $t;
    -ms-transition: $t;
    -o-transition: $t;
    transition: $t;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin translateX($d) {
    -webkit-transform: translateX($d);
    -moz-transform: translateX($d);
    -ms-transform: translateX($d);
    -o-transform: translateX($d);
    transform: translateX($d);
}

@mixin translateY($d) {
    -webkit-transform: translateY($d);
    -moz-transform: translateY($d);
    -ms-transform: translateY($d);
    -o-transform: translateY($d);
    transform: translateY($d);
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}