* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  direction: rtl;
  color: #606060 !important;
}

img {
  max-width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.inputStyle, footer .row .newsletter-form__content__input, main section .filter-container__wrapper__input {
  padding: 0 15px;
  flex: 1;
  color: #01468b;
}
.inputStyle .custom-btn, footer .row .newsletter-form__content__input .custom-btn, main section .filter-container__wrapper__input .custom-btn {
  width: 100%;
  height: 100%;
  border: 0;
  color: #ffffff;
  background: url("./../images/btn_bg.png") no-repeat center center;
  border-radius: 8px;
}
.inputStyle.divided, footer .row .divided.newsletter-form__content__input, main section .divided.filter-container__wrapper__input {
  position: relative;
}
.inputStyle.divided input, footer .row .divided.newsletter-form__content__input input, main section .divided.filter-container__wrapper__input input {
  padding-left: 65px;
}
.inputStyle.divided .divided-text, footer .row .divided.newsletter-form__content__input .divided-text, main section .divided.filter-container__wrapper__input .divided-text {
  width: 60px;
  left: 17px;
  top: 0;
  position: absolute;
  direction: ltr;
  background-color: #ffffff;
  border-radius: 8px 0 0 8px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.inputStyle.divided .divided-text button, footer .row .divided.newsletter-form__content__input .divided-text button, main section .divided.filter-container__wrapper__input .divided-text button {
  background-color: #ffffff;
  border: 1px solid transparent;
}
.inputStyle input, footer .row .newsletter-form__content__input input, main section .filter-container__wrapper__input input, .inputStyle textarea, footer .row .newsletter-form__content__input textarea, main section .filter-container__wrapper__input textarea {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  outline: none !important;
}

header .header-top {
  background-image: url("./../images/bg_gradiant.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
header .header-top ul {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  header .header-top ul {
    padding: 0;
  }
}
header .header-top ul li {
  list-style: none;
}
header .header-top ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0px 20px;
  line-height: 1;
}
header .header-top ul li:nth-child(n+2) a {
  border-right: 1px solid #ffffff;
}
header .header-top ul li.active a {
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  header .header-middle {
    padding: 28px 0;
  }
}
header .header-middle [class^=col-] {
  display: flex;
  align-items: center;
}
header .header-middle [class^=col-]:last-child {
  justify-content: end;
}
header .header-middle .menu-toggle {
  border: 0;
}
@media screen and (min-width: 576px) {
  header .header-middle .logo {
    max-width: 400px;
  }
}
@media screen and (max-width: 575px) {
  header .header-middle .logo {
    height: 56px;
    width: auto;
  }
}
header .header-middle .header-btn {
  max-height: 65px;
}
header .header-bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid #c3cfcf;
  border-bottom: 1px solid #c3cfcf;
}
header .header-bottom .navbar {
  padding: 0 !important;
}
header .header-bottom .navbar .navbar-collapse {
  width: 100%;
}
@media screen and (max-width: 991px) {
  header .header-bottom .navbar {
    width: 100%;
  }
  header .header-bottom .navbar ul li {
    border: 0 !important;
  }
}
header .header-bottom a, header .header-bottom span {
  color: #606060 !important;
  font-weight: 500;
  border-radius: 0 !important;
  background-color: transparent !important;
  text-align: right;
  padding: 15px 20px !important;
}
header .header-bottom a:hover, header .header-bottom span:hover {
  color: #00468b !important;
}
header .header-bottom li.nav-item:nth-child(n+2) {
  border-right: 1px solid #c3cfcf;
}
header .header-bottom .dropdown-menu.show {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 !important;
  padding: 0 !important;
  left: auto !important;
  right: 0;
  max-width: 100%;
}
@media screen and (max-width: 992px) {
  header .header-bottom .dropdown-menu.show {
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  header .header-bottom .dropdown-menu.show li {
    flex: 1 1 249px;
  }
}
header .header-bottom .dropdown-menu.show li:nth-child(even) {
  border-right: 1px solid #c3cfcf;
}
header .header-bottom .dropdown-menu.show li .dropdown-header {
  background-color: #d9e3ed !important;
}

.title {
  font-size: 2.14285em;
}

.subtitle {
  font-size: 1.85714em;
}

.light-bg {
  background-color: #cbefff;
}

@media screen and (min-width: 992px) {
  main .minicontainer {
    padding: 0 200px;
  }
}
main section.banner-section {
  background-color: #ebfdfd;
}
main section.banner-section .banner-content-wrapper {
  border-top: 0;
  position: relative;
  padding-top: 50px;
}
@media screen and (max-width: 991px) {
  main section.banner-section .banner-content-wrapper {
    background-color: #ffffff;
    position: relative;
    text-align: center;
  }
  main section.banner-section .banner-content-wrapper::before {
    content: "";
    background: linear-gradient(-50deg, #01468b, #46c8c4, #46c8c4);
    position: absolute;
    width: 100%;
    height: 8px;
    left: 0;
    top: 0;
  }
  main section.banner-section .banner-content-wrapper .banner-content a {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-130%);
    -moz-transform: translateY(-130%);
    -ms-transform: translateY(-130%);
    -o-transform: translateY(-130%);
    transform: translateY(-130%);
  }
}
main section.banner-section .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #01468b;
  padding-right: 100px;
}
@media screen and (max-width: 991px) {
  main section.banner-section .banner-content {
    padding-right: 0;
  }
}
main section.banner-section .banner-content__title {
  font-size: 2.14285em;
  font-weight: 500;
}
main section.banner-section .banner-content__title span {
  font-weight: 700;
  display: block;
}
main section .filter-container {
  padding: 20px;
  border-radius: 15px;
}
main section .filter-container__footertext {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
}
main section .filter-container__title {
  color: #ffffff;
  text-align: center;
}
main section .filter-container__wrapper {
  display: flex;
}
@media screen and (max-width: 991px) {
  main section .filter-container__wrapper {
    flex-direction: column;
  }
  main section .filter-container__wrapper__input {
    margin-bottom: 8px;
  }
  main section .filter-container__wrapper__input__btn {
    padding: 15px;
  }
}
main section.filter-section.forum-filter {
  margin-top: 40px;
}
@media screen and (min-width: 992px) {
  main section.filter-section {
    transform: translateY(-30px);
  }
  main section.filter-section.blog-filter {
    transform: translateY(0px);
  }
}
main section.filter-section .filter-container {
  background-color: #01468b;
}
main section.center-text {
  padding: 30px 0;
  text-align: center;
}
main section.center-text .title {
  color: #01468b;
}
main section.center-text .center-text__desc {
  display: block;
  color: #01468b;
}
main section.center-text .center-text__hr {
  width: 450px;
  height: 5px;
  background: url("./../images/btn_bg.png") no-repeat center center;
  display: block;
  margin: 0 auto 15px auto;
}
@media screen and (max-width: 991px) {
  main section.center-text .center-text__hr {
    width: 80%;
  }
}
main section.tile-section {
  background-image: linear-gradient(#ebfdfd, #ffffff);
  padding: 40px 0;
}
main section.tile-section.blog-tile-section {
  background: transparent;
}
main section.tile-section .tile-section__header {
  text-align: center;
  display: block;
}
main section.tile-section .tile-section__header .title {
  color: #01468b;
}
main section.tile-section .tile {
  display: flex;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 6px 20px 0px #bbb;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 992px) {
  main section.tile-section .tile {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media screen and (max-width: 991px) {
  main section.tile-section .tile {
    flex-direction: column;
    text-align: center;
  }
  main section.tile-section .tile p {
    display: none;
  }
}
main section.tile-section .tile:hover {
  border: 5px solid #01468b;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
main section.tile-section .tile .tile-img {
  flex: 40%;
}
main section.tile-section .tile .tile-img a {
  color: #01468b;
  text-decoration: none;
  font-size: 1em;
}
main section.tile-section .tile .tile-content {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section.tile-section .tile .tile-content__inner__title {
  color: #01468b;
  text-decoration: underline;
}
@media screen and (max-width: 991px) {
  main section.tile-section .tile .tile-content__inner__title {
    font-size: 1.2em;
  }
}
main section.tile-section .tile .tile-content__inner p {
  color: #999999;
}
main section.tile-section .tile .tile-content a {
  color: #01468b;
  text-decoration: none;
  font-size: 1em;
}
main section.testimonical-section {
  background: url("./../images/testimonial.png") no-repeat center center;
  background-size: cover;
  padding: 40px 0;
}
@media screen and (max-width: 991px) {
  main section.testimonical-section {
    padding: 200px 0px 40px 0px;
  }
}
main section.testimonical-section .testimonial-content {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 3px 10px 0 #01468b;
  color: #999999;
  position: relative;
}
main section.testimonical-section .testimonial-content__inner {
  padding: 40px 150px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  main section.testimonical-section .testimonial-content__inner {
    position: relative;
  }
}
@media screen and (max-width: 991px) {
  main section.testimonical-section .testimonial-content__inner {
    text-align: center;
    padding: 100px 20px 20px 20px;
  }
}
main section.testimonical-section .testimonial-content__title {
  color: #01468b;
  margin-bottom: 8px;
  display: block;
}
main section.testimonical-section .testimonial-content__title span {
  position: relative;
  padding-bottom: 2px;
}
main section.testimonical-section .testimonial-content__title span::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 2px;
  background-color: #01468b;
  bottom: 0;
  right: 0;
}
main section.testimonical-section .testimonial-content__tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px;
  top: 70px;
  left: -70px;
  width: 300px;
  box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #01468b;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  main section.testimonical-section .testimonial-content__tag {
    width: 100%;
    left: 0;
    margin-top: -220px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: transparent;
  }
  main section.testimonical-section .testimonial-content__tag i {
    display: none;
  }
  main section.testimonical-section .testimonial-content__tag span {
    font-size: 1.2em;
  }
}
main section.testimonical-section .testimonial-content__tag span {
  padding: 0 15px;
}
main section.testimonical-section .testimonial-content__profile {
  position: absolute;
  height: 90%;
  max-height: 300px;
  top: 5%;
}
@media screen and (min-width: 992px) {
  main section.testimonical-section .testimonial-content__profile {
    right: 0;
    -webkit-transform: translateX(45%);
    -moz-transform: translateX(45%);
    -ms-transform: translateX(45%);
    -o-transform: translateX(45%);
    transform: translateX(45%);
  }
}
@media screen and (max-width: 991px) {
  main section.testimonical-section .testimonial-content__profile {
    top: 0;
    left: 50%;
    height: 200px;
    width: 200px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
main section.testimonical-section .testimonial-content__profile img {
  height: 100%;
}
main section.testimonical-section .testimonial-content__footer {
  display: flex;
  margin-top: 30px;
}
@media screen and (max-width: 991px) {
  main section.testimonical-section .testimonial-content__footer {
    text-align: right;
  }
}
main section.testimonical-section .testimonial-content__footer__content {
  color: #01468b;
}
main section.testimonical-section .testimonial-content__footer__content__title {
  font-weight: 600;
}
main section.testimonical-section .testimonial-content__footer__images {
  display: flex;
}
main section.testimonical-section .testimonial-content__footer__images a {
  margin-left: 15px;
}
main section.testimonical-section .testimonial-content__footer__images a img {
  width: 100px;
}
main section.newsletter-section {
  padding: 40px 0;
}
main section.newsletter-section .filter-container {
  box-shadow: 0 5px 12px 0 #ffd7d7;
}
@media screen and (max-width: 991px) {
  main section.newsletter-section .filter-container {
    background-color: #fe0000;
  }
  main section.newsletter-section .filter-container__title {
    color: #ffffff !important;
  }
}
main section.newsletter-section .filter-container__title {
  color: #fe0000;
}
main section.newsletter-section .filter-container__footertext {
  color: #656565;
}
@media screen and (max-width: 991px) {
  main section.newsletter-section .filter-container__footertext {
    color: #ffffff;
    font-weight: 300;
  }
}
main section.newsletter-section .filter-container__wrapper__input__btn {
  background: #fe0000;
}
@media screen and (max-width: 991px) {
  main section.newsletter-section .filter-container__wrapper__input__btn {
    background-color: #ffffff;
    color: #fe0000;
  }
}
main section.breadcrumb-btns-section {
  padding: 30px 0;
}
@media screen and (max-width: 991px) {
  main section.breadcrumb-btns-section {
    padding: 15px 0;
  }
}
main section.breadcrumb-btns-section .breadcrumb-btns-section__wrapper {
  display: flex;
}
@media screen and (max-width: 991px) {
  main section.breadcrumb-btns-section .breadcrumb-btns-section__wrapper {
    justify-content: center;
  }
}
main section.breadcrumb-btns-section .breadcrumb-btns-section__wrapper button {
  background-image: url("./../images/btn_bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border: 0;
  line-height: 1;
  padding: 10px 15px;
  border-radius: 4px;
}
main .cat_set {
  font-weight: 300;
}
main .cat_set .title {
  color: #01468b;
}
main .content-centered {
  padding: 20px;
  border-radius: 15px;
  font-weight: 300;
}
main .content-centered .subtitle {
  color: #01468b;
  margin: 0 0 5px;
  line-height: 1;
}
main .content-centered p {
  margin: 0;
}
main .cat-images ul {
  margin: 0;
  padding: 15px 0;
  display: flex;
}
main .cat-images ul li {
  list-style: none;
}
@media screen and (min-width: 991px) {
  main .shade-top {
    box-shadow: 2px -3px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0 0;
  }
  main .shade-bottom {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px;
  }
}
main .cat-tiles__title {
  color: #01468b;
  display: block;
  width: 100%;
  border-bottom: 1px solid #01468b;
  padding-bottom: 8px;
}
main .cat-tiles ul {
  margin: 0;
  padding: 0;
}
main .cat-tiles ul li {
  list-style: none;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 8px #bbbbbb;
  padding: 10px;
  border-radius: 12px;
  margin: 5px 0 15px;
}
main .cat-tiles ul li .image {
  width: 120px;
}
main .cat-tiles ul li .content {
  flex: 1;
}
main .cat-tiles ul li .content h5 {
  color: #01468b;
}
main .cat-tiles ul li .content a {
  color: #606060;
  text-decoration: none;
}
main .info-wrapper {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 12px 0 #bbb;
  color: #01468b;
  margin-bottom: 20px;
}
main .info-wrapper__content {
  border-bottom: 1px solid #01468b;
  padding-bottom: 15px;
}
main .info-wrapper__footer {
  padding-top: 10px;
}
main .info-wrapper__footer__btn {
  background-image: linear-gradient(to left, #058cc4, #3fd0cb);
  color: #ffffff;
  border: 0;
  outline: none;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 8px;
}
main .info-wrapper ul {
  margin: 0;
  padding: 0;
}
main .info-wrapper ul li {
  list-style: none;
  font-weight: 600;
}
main .info-wrapper ul li span {
  font-weight: 400;
}

.socialmedia-wrapper {
  display: flex;
  padding-right: 100px;
  padding-top: 20px;
}
@media screen and (max-width: 991px) {
  .socialmedia-wrapper {
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }
  .socialmedia-wrapper__title {
    font-size: 1.4em;
    font-weight: 600;
  }
  .socialmedia-wrapper ul {
    padding: 10px 0 0;
    justify-content: center;
  }
  .socialmedia-wrapper ul li:nth-last-child(n+2) {
    border-left: 1px solid #bbb;
  }
}
.socialmedia-wrapper__title {
  color: #01468b;
}
.socialmedia-wrapper ul {
  display: flex;
}
.socialmedia-wrapper ul li {
  list-style: none;
}
.socialmedia-wrapper ul li a {
  padding: 0 15px;
}
.socialmedia-wrapper ul li a img {
  height: 30px;
}

footer {
  border-top: 1px solid #bbb;
  padding-top: 30px;
}
@media screen and (max-width: 991px) {
  footer > .container > .row:first-child {
    border-bottom: 1px solid #bbb;
  }
}
@media screen and (min-width: 992px) {
  footer .row {
    flex-direction: row-reverse;
  }
}
footer .row .row {
  flex-direction: row;
}
@media screen and (min-width: 992px) {
  footer .row .footer-menu {
    padding-left: 20%;
  }
}
footer .row .footer-menu__title {
  color: #01468b;
}
@media screen and (max-width: 991px) {
  footer .row .footer-menu__title {
    font-size: 1.4em;
  }
}
footer .row .footer-menu ul {
  padding: 0 10px 0 0;
}
footer .row .footer-menu ul li {
  position: relative;
  list-style: none;
}
footer .row .footer-menu ul li:nth-last-child(n+2) {
  border-bottom: 1px solid #f7f4f4;
}
footer .row .footer-menu ul li::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #01468b;
  border-radius: 100%;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
footer .row .footer-menu ul li a {
  padding: 6px;
  color: #999999;
  font-weight: 300;
  font-size: 1.2em;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  footer .row .newsletter-form {
    padding-right: 100px;
  }
}
footer .row .newsletter-form__header {
  color: #01468b;
}
@media screen and (min-width: 992px) {
  footer .row .newsletter-form__header {
    padding-right: 120px;
  }
}
@media screen and (max-width: 991px) {
  footer .row .newsletter-form__header {
    text-align: center;
  }
}
footer .row .newsletter-form__header span {
  font-size: 14px;
  font-weight: 400;
}
footer .row .newsletter-form__content {
  background: #ffffff;
  padding: 15px 120px 20px 20px;
  box-shadow: 2px 3px 12px 0 #c3cfcf;
  border-radius: 30px;
  position: relative;
}
@media screen and (max-width: 991px) {
  footer .row .newsletter-form__content {
    padding: 15px 25px;
    margin-bottom: 30px;
  }
}
footer .row .newsletter-form__content__profile {
  width: 160px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(30%, -30%);
  -moz-transform: translate(30%, -30%);
  -ms-transform: translate(30%, -30%);
  -o-transform: translate(30%, -30%);
  transform: translate(30%, -30%);
}
@media screen and (max-width: 991px) {
  footer .row .newsletter-form__content__profile {
    display: none;
  }
}
footer .row .newsletter-form__content__profile img {
  width: 100%;
}
footer .row .newsletter-form__content__input {
  margin-bottom: 10px;
  position: relative;
}
footer .row .newsletter-form__content__input textarea {
  padding-bottom: 40px;
}
footer .row .newsletter-form__content__input__btn {
  position: absolute;
  bottom: 15px;
  left: 25px;
  background-color: #01468b;
  color: #ffffff;
  border: 0;
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1;
}
footer .footer-bottom {
  background-color: #01468b;
  border-radius: 40px 40px 0 0;
  padding: 10px 0;
  margin-top: 50px;
}
@media screen and (max-width: 991px) {
  footer .footer-bottom {
    margin-top: 10px;
  }
}
footer .footer-bottom__inner {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
footer .footer-bottom__inner p {
  margin: 0;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .pagination-wrapper button {
    font-size: 1em !important;
    height: 30px !important;
    font-weight: 400 !important;
  }
  .pagination-wrapper button.pagination-link {
    width: 30px !important;
  }
}
.pagination-wrapper button {
  margin: 0 6px;
  border: 1px solid #01468b;
  color: #01468b;
  background-color: transparent;
  height: 45px;
  line-height: 1;
  font-size: 1.4em;
  font-weight: 500;
}
.pagination-wrapper button:hover, .pagination-wrapper button:active, .pagination-wrapper button.active {
  color: #ffffff;
  background-color: #01468b;
}
.pagination-wrapper button.pagination-btn {
  padding: 0 15px;
  border-radius: 27px;
  background-color: #01468b;
  color: #ffffff;
}
.pagination-wrapper button.pagination-btn.disabled {
  opacity: 0.4;
}
.pagination-wrapper button.pagination-link {
  width: 45px;
  border-radius: 100%;
}

.theme-clr {
  color: #01468b;
}

.side-filter {
  background-color: #01468b;
  border-radius: 12px;
}
.side-filter__text {
  background-color: #ffffff;
  margin: 20px;
  display: block;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .side-filter__text {
    display: none;
  }
}
.side-filter .filter-container__wrapper__input {
  padding: 0 !important;
}
@media screen and (min-width: 992px) {
  .side-filter {
    padding: 100px 0 0;
  }
  .side-filter.forum_filter {
    padding-top: 20px;
  }
}
@media screen and (max-width: 991px) {
  .side-filter {
    margin-top: 20px;
  }
}
.side-filter .filter-container__wrapper {
  flex-direction: column;
}
.side-filter .filter-container__wrapper__input {
  margin-bottom: 10px;
}
.side-filter .filter-container__wrapper__input .custom-btn {
  padding: 15px;
}

.forumform input, .forumform textarea {
  padding: 8px !important;
}
@media screen and (min-width: 992px) {
  .forumform__box1 {
    width: 35%;
  }
}
.forumform__box1__row {
  margin: 0 -5px;
  display: flex;
  margin-top: 10px;
}
.forumform__box1__col {
  padding: 0 5px !important;
}
.forumform__box2 {
  flex: 1;
}
.forumform__box2 textarea {
  height: 88px;
  padding-bottom: 40px !important;
}
.forumform__box2__textarea {
  position: relative;
}
@media screen and (max-width: 991px) {
  .forumform__box2__textarea {
    padding: 0 !important;
  }
}
.forumform__box2__textarea button {
  position: absolute;
  bottom: 15px;
  left: 25px;
  background-color: #01468b;
  padding: 5px 8px;
  color: #ffffff;
  border: 0;
  outline: none;
  line-height: 1;
  border-radius: 6px;
}

.forum_accordions {
  margin-top: 15px;
}
.forum_accordions .acc__item {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0px #bbb;
  border-radius: 12px;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .forum_accordions .acc__item {
    background-color: #01468b;
    color: #ffffff !important;
  }
}
.forum_accordions .acc_header {
  color: #01468b;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0px #bbb;
  border-radius: 12px;
  padding: 6px;
  display: block;
}
.forum_accordions .acc_header .formobile {
  padding-left: 40px;
}
.forum_accordions .acc_header .one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .forum_accordions .acc_header .one {
    border-bottom: 1px solid rgba(1, 70, 139, 0.2);
    margin-bottom: 10px;
  }
}
.forum_accordions .acc_header .acc_header__box1 {
  align-items: center;
  display: flex;
}
@media screen and (max-width: 991px) {
  .forum_accordions .acc_header .acc_header__box1 .acc__desc {
    display: none;
  }
}
.forum_accordions .acc_header[aria-expanded=true] .acc_header__box2::after {
  border-top: 10px solid #999999;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 0;
}
.forum_accordions .acc_header .acc_header__box2 {
  padding-left: 50px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .forum_accordions .acc_header .acc_header__box2 {
    padding-left: 0;
  }
  .forum_accordions .acc_header .acc_header__box2::after {
    top: 100%;
    margin-top: 35px;
  }
}
.forum_accordions .acc_header .acc_header__box2::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #01468b;
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.forum_accordions .acc_header .acc__title {
  font-weight: 400;
  font-size: 26px;
  padding-left: 10px;
}
.forum_accordions .acc_header .acc__desc {
  font-size: 1rem;
}
.forum_accordions .acc_header .acc__desc__title {
  font-size: inherit;
  font-weight: 500;
  margin: 0;
}
.forum_accordions .acc_header .acc__desc p {
  margin: 0;
  font-weight: 300;
}
.forum_accordions .acc__body {
  color: #01468b;
}
@media screen and (max-width: 991px) {
  .forum_accordions .acc__body {
    color: #ffffff !important;
  }
  .forum_accordions .acc__body__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  }
}
.forum_accordions .acc__body__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  border-bottom: 1px solid rgba(1, 70, 139, 0.2);
  margin-bottom: 10px;
}
.forum_accordions .acc__body__top span {
  font-weight: 300;
}
.forum_accordions .acc__body__top__date {
  font-weight: 500;
}

.content-panel {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
}
@media screen and (min-width: 992px) {
  .content-panel {
    box-shadow: 0px 3px 12px 0px #bbb;
  }
}
.content-panel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  padding: 10px 0;
}
@media screen and (max-width: 991px) {
  .content-panel__header {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 991px) {
  .content-panel__header__title {
    text-align: center;
    display: block;
    width: 100%;
  }
}
.content-panel__header__title span {
  color: #606060;
  font-size: 1rem;
  font-weight: 400;
}
.content-panel__header .socialmedia-wrapper {
  padding: 0;
}
.content-panel__header .socialmedia-wrapper ul {
  padding: 0;
  margin: 0;
}
.content-panel .doctor-img img {
  margin-top: 20px;
  display: block;
}
.content-panel__form {
  background-color: #01468b;
  padding: 20px;
  border-radius: 12px;
  margin-top: 15px;
}
.content-panel__form__header {
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}
.content-panel__form__header__title {
  line-height: 1;
  margin: 0;
}
.content-panel__form__header p {
  margin-bottom: 5px;
}
.content-panel__form__header__rule {
  width: 200px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
}
.content-panel__form__content {
  padding: 0 !important;
  margin-top: 10px;
}
.content-panel__content {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .content-panel__content {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .content-panel__content__text {
    padding: 25px 0 0 50px;
  }
}
.content-panel__content__text p {
  line-height: 1;
}
.content-panel__content__text__footer {
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 #bbb;
  padding: 10px 15px;
  border-radius: 12px;
  display: flex;
}
.content-panel__content__text__footer__inner {
  overflow-x: auto;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .content-panel__content__text__footer {
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
  }
  .content-panel__content__text__footer__link {
    width: auto !important;
    position: absolute;
    bottom: 5px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  .content-panel__content__text__footer__link__btn {
    padding: 10px 20px !important;
  }
}
.content-panel__content__text__footer__images {
  display: flex;
  flex: 1;
}
.content-panel__content__text__footer__images img {
  max-width: 90px;
  margin-left: 5px;
}
.content-panel__content__text__footer__link {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.content-panel__content__text__footer__link__btn {
  background-image: url("./../images/btn_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-decoration: none;
  padding: 12px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 12px;
}
@media screen and (max-width: 1199px) {
  .content-panel__content__img {
    text-align: center;
  }
}
.content-panel__content__img img {
  width: 250px;
}

.blogpage main section.banner-section {
  background: url("./../images/banner_bg.png");
  background-position: bottom left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.blogpage main section.banner-section .banner-content .banner-btn {
  cursor: pointer;
}
.blogpage main section.blog-filter {
  margin-bottom: 40px;
}
.blogpage main section.blog-center-text .center-text__hr {
  width: 280px;
}
.blogpage main section.blog-tile-section {
  padding: 20px 0;
}
.blogpage main section.blog-tile-section .blog-tile {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 24px;
  box-shadow: 0px 6px 20px 0px #bbb;
}
.blogpage main section.blog-tile-section .blog-tile a {
  text-decoration: none;
}
.blogpage main section.blog-tile-section .blog-tile-img {
  border: 1px solid #01468b;
  border-radius: 12px;
  overflow: hidden;
}
.blogpage main section.blog-tile-section .blog-tile-content__inner {
  text-align: center;
}
.blogpage main section.blog-tile-section .blog-tile-content__inner__title {
  color: #01468b;
  position: relative;
  padding-bottom: 10px;
  margin-top: 15px;
}
.blogpage main section.blog-tile-section .blog-tile-content__inner__title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #01468b;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.blogpage main section.blog-tile-section .blog-tile-content__inner p {
  color: #989898;
}
.blogpage main section.blog-tile-section .blog-tile-content a {
  color: #01468b;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1520px !important;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    max-width: 1820px !important;
  }
}

/*# sourceMappingURL=style.css.map */
