@import './_variables.scss';
@import './_mixin.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    direction: rtl;
    color: #606060 !important;
}
img {
    max-width: 100%;
}
.no-padding {
    padding: 0 !important;
}
.inputStyle {
    padding: 0 15px;
    flex: 1;
    color: $theme_dark_clr;
    .custom-btn {
        width: 100%;
        height: 100%;
        border: 0;
        color: #ffffff;
        background: url('./../images/btn_bg.png') no-repeat center center;
        border-radius: 8px;
    }
    &.divided {
        position: relative;
        input {
            padding-left: 65px;
        }
        .divided-text {
            width: 60px;
            left: 17px;
            top: 0;
            position: absolute;
            direction: ltr;
            background-color: #ffffff;
            border-radius: 8px 0 0 8px;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            padding-left: 15px;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            button {
                background-color: #ffffff;
                border: 1px solid transparent;
            }
        }
    }
    input, textarea {
        width: 100%;
        border: 1px solid #e5e5e5;
        padding: 12px;
        border-radius: 8px;
        overflow: hidden;
        outline: none !important;
    }
}
header {
    .header-top {
        background-image: url('./../images/bg_gradiant.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
        ul {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 991px) {
                padding: 0;
            }
            li {
                list-style: none;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    padding: 0px 20px;
                    line-height: 1;
                }
                &:nth-child(n+2) {
                    a {
                        border-right: 1px solid #ffffff;
                    }
                }
                &.active {
                    a {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .header-middle {
        @media screen and (max-width: 991px) {
            padding: 28px 0;
        }
        & [class^="col-"] {
            display: flex;
            align-items: center;
            &:last-child {
                justify-content: end;
            }
        }
        .menu-toggle {
            border: 0;
        }
        .logo {
            @media screen and (min-width: 576px) {
                max-width: 400px;
            }
            @media screen and (max-width: 575px) {
                height: 56px;
                width: auto;
            }
        }
        .header-btn {
            max-height: 65px;
        }
    }
    .header-bottom {
        display: flex;
        justify-content: center;
        border-top: 1px solid #c3cfcf;
        border-bottom: 1px solid #c3cfcf;
        .navbar {
            padding: 0 !important;
            .navbar-collapse {
                width: 100%;
            }
            @media screen and (max-width: 991px) {
                width: 100%;
                ul {
                    li {
                        border: 0 !important;
                    }
                }
            }
        }
        a, span {
            color: #606060 !important;
            font-weight: 500;
            border-radius: 0 !important;
            background-color: transparent !important;
            text-align: right;
            padding: 15px 20px !important;
            &:hover {
                color: #00468b !important;
            }
        }
        li.nav-item {
            &:nth-child(n+2) {
                border-right: 1px solid #c3cfcf;
            }
        }
        .dropdown-menu.show {
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            margin: 0 !important;
            padding: 0 !important;
            left: auto !important;
            right: 0;
            max-width: 100%;
            @media screen and (max-width: 992px) {
                flex-direction: column;
            }
            li {
                @media screen and (min-width: 992px) {
                    flex: 1 1 249px;
                }
                &:nth-child(even) {
                    border-right: 1px solid #c3cfcf;
                }
                .dropdown-header {
                    background-color: #d9e3ed !important;
                }
            }
        }
    }
}
.title {
    font-size: 2.14285em;
}
.subtitle {
    font-size: 1.85714em;
}
.light-bg {
    background-color: #cbefff;
}
main {
    .minicontainer {
        @media screen and (min-width: 992px) {
            padding: 0 200px;
        }
    }
    section {
        &.banner-section {
            background-color: #ebfdfd;
            .banner-content-wrapper {
                @media screen and (max-width: 991px) {
                    background-color: #ffffff;
                    position: relative;
                    &::before {
                        content: '';
                        background: linear-gradient(-50deg, $theme_dark_clr, $theme_sec_clr, $theme_sec_clr);
                        position: absolute;
                        width: 100%;
                        height: 8px;
                        left: 0;
                        top: 0;
                    }
                    text-align: center;
                    .banner-content {
                        a {
                            position: absolute;
                            top: 0;
                            @include translateY(-130%);
                        }
                    }
                }   
                border-top: 0;
                position: relative;
                padding-top: 50px;
            }
            .banner-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                color: $theme_dark_clr;
                padding-right: 100px;
                @media screen and (max-width: 991px) {
                    padding-right: 0;
                }
                &__title {
                    font-size: 2.14285em;
                    font-weight: 500;
                    span {
                        font-weight: 700;
                        display: block;
                    }
                }
            }
        }
        .filter-container {
            padding: 20px;
            border-radius: 15px;
            &__footertext {
                display: block;
                text-align: center;
                margin-top: 15px;
                color: #ffffff;
            }
            &__title {
                color: #ffffff;
                text-align: center;
            }
            &__wrapper {
                display: flex;
                @media screen and (max-width: 991px) {
                    flex-direction: column;
                    &__input {
                        margin-bottom: 8px;
                        &__btn {
                            padding: 15px;
                        }
                    }
                }
                &__input {
                    @extend .inputStyle;
                }
            }
        }
        &.filter-section {
            &.forum-filter {
                margin-top: 40px;
            }
            @media screen and (min-width: 992px) {
                transform: translateY(-30px);
                &.blog-filter {
                    transform: translateY(0px);
                }
            }
            .filter-container {
                background-color: $theme_dark_clr;
            }
        }
        &.center-text {
            padding: 30px 0;
            text-align: center;
            .title {
                color: $theme_dark_clr;
            }
            .center-text__desc {
                display: block;
                color: $theme_dark_clr;
            }
            .center-text__hr {
                width: 450px;
                height: 5px;
                background: url('./../images/btn_bg.png') no-repeat center center;
                display: block;
                margin: 0 auto 15px auto;
                @media screen and (max-width: 991px) {
                    width: 80%;
                }
            }
        }
        &.tile-section {
            background-image: linear-gradient(#ebfdfd, #ffffff);
            &.blog-tile-section {
                background: transparent;
            }
            padding: 40px 0;
            .tile-section__header {
                text-align: center;
                display: block;
                .title {
                    color: $theme_dark_clr;
                }
            }
            .tile {
                display: flex;
                background-color: #ffffff;
                border-radius: 12px;
                padding: 20px;
                box-shadow: 0px 6px 20px 0px #bbb;
                margin-bottom: 30px;
                @include transition(0.3s);
                @media screen and (min-width:992px) {
                    @include scale(0.9);
                }
                @media screen and (max-width: 991px) {
                    flex-direction: column;
                    text-align: center;
                    p {
                        display: none;
                    }
                }
                &:hover {
                    border: 5px solid $theme_dark_clr;
                    @include scale(1);
                    @include transition(0.3s);
                }
                .tile-img {
                    flex: 40%;
                    a {
                        color: $theme_dark_clr;
                        text-decoration: none;
                        font-size: 1em;
                    }
                }
                .tile-content {
                    flex: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &__inner {
                        &__title {
                            color: $theme_dark_clr;
                            text-decoration: underline;
                            @media screen and (max-width: 991px) {
                                font-size: 1.2em;
                            }
                        }
                        p {
                            color: #999999;
                        }
                    }
                    a {
                        color: $theme_dark_clr;
                        text-decoration: none;
                        font-size: 1em;
                    }
                }
            }
        }
        &.testimonical-section {
            background: url('./../images/testimonial.png') no-repeat center center;
            background-size: cover;
            padding: 40px 0;
            @media screen and (max-width: 991px) {
                padding: 200px 0px 40px 0px;
            }
            .testimonial-content {
                background-color: #ffffff;
                border-radius: 15px;
                box-shadow: 0 3px 10px 0 $theme_dark_clr;
                color: #999999;
                position: relative;
                &__inner {
                    padding: 40px 150px;
                    overflow: hidden;
                    @media screen and (min-width: 992px) {
                        position: relative;
                    }
                    @media screen and (max-width: 991px) {
                        text-align: center;
                        padding: 100px 20px 20px 20px;
                    }
                }
                &__title {
                    color: $theme_dark_clr;
                    margin-bottom: 8px;
                    display: block;
                    span {
                        position: relative;
                        padding-bottom: 2px;
                        &::after {
                            content: '';
                            position: absolute;
                            width: 85%;
                            height: 2px;
                            background-color: $theme_dark_clr;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
                &__tag {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    padding: 10px;
                    top: 70px;
                    left: -70px;
                    width: 300px;
                    box-sizing: border-box;
                    @include rotate(-45deg);
                    background-color: $theme_dark_clr;
                    color: #ffffff;
                    font-weight: 600;
                    @media screen and (max-width: 991px) {
                        width: 100%;
                        left: 0;
                        margin-top: -220px;
                        @include rotate(0deg);
                        i {
                            display: none;
                        }
                        background-color: transparent;
                        span {
                            font-size: 1.2em;
                        }
                    }
                    span {
                        padding: 0 15px;
                    }
                }
                &__profile {
                    position: absolute;
                    height: 90%;
                    max-height: 300px;
                    top: 5%;
                    @media screen and (min-width: 992px) {
                        right: 0;
                        @include translateX(45%);
                    }
                    @media screen and (max-width: 991px) {
                        top: 0;
                        left: 50%;
                        height: 200px;
                        width: 200px;
                        @include translate(-50%, -50%);
                    }
                    img {
                        height: 100%;
                    }
                }
                &__footer {
                    display: flex;
                    margin-top: 30px;
                    @media screen and (max-width: 991px) {
                        text-align: right;
                    }
                    &__content {
                        color: $theme_dark_clr;
                        &__title {
                            font-weight: 600;
                        }
                    }
                    &__images {
                        display: flex;
                        a {
                            margin-left: 15px;
                            img {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
        &.newsletter-section {
            padding: 40px 0;
            .filter-container {
                box-shadow: 0 5px 12px 0 #ffd7d7;
                @media screen and (max-width: 991px) {
                    background-color: $theme_red;
                    &__title {
                        color: #ffffff !important;
                    }
                }
                &__title {
                    color: $theme_red;
                }
                &__footertext {
                    color: #656565;
                    @media screen and (max-width: 991px) {
                        color: #ffffff;
                        font-weight: 300;
                    }
                }
                &__wrapper {
                    &__input {
                        &__btn {
                            background: $theme_red;
                            @media screen and (max-width: 991px) {
                                background-color: #ffffff;
                                color: $theme_red;
                            }
                        }
                    }
                }
            }
        }
        &.breadcrumb-btns-section {
            padding: 30px 0;
            @media screen and (max-width: 991px) {
                padding: 15px 0;
            }
            .breadcrumb-btns-section__wrapper {
                display: flex;
                @media screen and (max-width: 991px) {
                    justify-content: center;
                }
                button {
                    background-image: url('./../images/btn_bg.png');
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: center center;
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: 500;
                    border: 0;
                    line-height: 1;
                    padding: 10px 15px;
                    border-radius: 4px;
                }
            }
        }
    }
    .cat_set {
        font-weight: 300;
        .title {
            color: $theme_dark_clr;
        }
    }
    .content-centered {
        padding: 20px;
        border-radius: 15px;
        .subtitle {
            color: $theme_dark_clr;
            margin: 0 0 5px;
            line-height: 1;
        }
        font-weight: 300;
        p {
            margin: 0;
        }
    }
    .cat-images {
        ul {
            margin: 0;
            padding: 15px 0;
            display: flex;
            li {
                list-style: none;

            }
        }
    }
    @media screen and (min-width: 991px) {
        .shade-top {
            box-shadow: 2px -3px 5px 0px rgb(0 0 0 / 10%);
            border-radius: 20px 20px 0 0;
        }
        .shade-bottom {
            box-shadow: 2px 3px 5px 0px rgb(0 0 0 / 10%);
            border-radius: 0 0 20px 20px;
        }
    }
    .cat-tiles {
        &__title {
            color: $theme_dark_clr;
            display: block;
            width: 100%;
            border-bottom: 1px solid $theme_dark_clr;
            padding-bottom: 8px;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: flex;
                align-items: center;
                box-shadow: 2px 2px 8px #bbbbbb;
                padding: 10px;
                border-radius: 12px;
                margin: 5px 0 15px;
                .image {
                    width: 120px;
                }
                .content {
                    flex: 1;
                    h5 {
                        color: $theme_dark_clr;
                    }
                    a {
                        color: #606060;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .info-wrapper {
        padding: 20px;
        border-radius: 20px;
        box-shadow: 4px 4px 12px 0 #bbb;
        color: $theme_dark_clr;
        margin-bottom: 20px;
        &__content {
            border-bottom: 1px solid $theme_dark_clr;
            padding-bottom: 15px;
        }
        &__footer {
            padding-top: 10px;
            &__btn {
                background-image: linear-gradient(to left, #058cc4, #3fd0cb);
                color: #ffffff;
                border: 0;
                outline: none;
                padding: 10px;
                display: block;
                width: 100%;
                border-radius: 8px;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                font-weight: 600;
                span {
                    font-weight: 400;
                }
            }
        }
    }
}
.socialmedia-wrapper {
    display: flex;
    padding-right: 100px;
    padding-top: 20px;
    @media screen and (max-width: 991px) {
        flex-direction: column;
        padding-right: 0;
        text-align: center;
        &__title {
            font-size: 1.4em;
            font-weight: 600;
        }
        ul {
            padding: 10px 0 0;
            justify-content: center;
            li {
                &:nth-last-child(n+2) {
                    border-left: 1px solid #bbb;
                }
            }
        }
    }
    &__title {
        color: $theme_dark_clr;
    }
    ul {
        display: flex;
        li {
            list-style: none;
            a {
                padding: 0 15px;
                img {
                    height: 30px;
                }
            }
        }
    }
}
footer {
    border-top: 1px solid #bbb;
    padding-top: 30px;
    & > .container {
        & > .row {
            &:first-child {
                @media screen and (max-width: 991px) {
                    border-bottom: 1px solid #bbb;
                }
            }
        }
    }
    .row {
        @media screen and (min-width: 992px) {
            flex-direction: row-reverse;
        }
        .row {
            flex-direction: row;
        }
        .footer-menu {
            @media screen and (min-width: 992px) {
                padding-left: 20%;
            }
            &__title {
                color: $theme_dark_clr;
                @media screen and (max-width: 991px) {
                    font-size: 1.4em;
                }
            }
            ul {
                padding: 0 10px 0 0;
                li {
                    &:nth-last-child(n+2) {
                        border-bottom: 1px solid #f7f4f4;
                    }
                    position: relative;
                    list-style: none;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        background-color: $theme_dark_clr;
                        border-radius: 100%;
                        right: -10px;
                        top: 50%;
                        @include translateY(-50%);
                    }
                    a {
                        padding: 6px;
                        color: #999999;
                        font-weight: 300;
                        font-size: 1.2em;
                        text-decoration: none;
                    }
                }
            }
        }
        .newsletter-form {
            @media screen and (min-width: 992px) {
                padding-right: 100px;
            }
            &__header {
                color: $theme_dark_clr;
                @media screen and (min-width: 992px) {
                    padding-right: 120px;
                }
                @media screen and (max-width: 991px) {
                    text-align: center;
                }
                span {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            &__content {
                background: #ffffff;
                padding: 15px 120px 20px 20px;
                box-shadow: 2px 3px 12px 0 #c3cfcf;
                border-radius: 30px;
                position: relative;
                @media screen and (max-width: 991px) {
                    padding: 15px 25px;
                    margin-bottom: 30px;
                }
                &__profile {
                    width: 160px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    @include translate(30%, -30%);
                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                    img {
                        width: 100%;
                    }
                }
                &__input {
                    @extend .inputStyle;
                    margin-bottom: 10px;
                    position: relative;
                    textarea {
                        padding-bottom: 40px;
                    }
                    &__btn {
                        position: absolute;
                        bottom: 15px;
                        left: 25px;
                        background-color: $theme_dark_clr;
                        color: #ffffff;
                        border: 0;
                        padding: 6px 8px;
                        font-size: 12px;
                        border-radius: 4px;
                        line-height: 1;
                    }
                }
            }
        }
    }
    .footer-bottom {
        background-color: $theme_dark_clr;
        border-radius: 40px 40px 0 0;
        padding: 10px 0;
        margin-top: 50px;
        @media screen and (max-width: 991px) {
            margin-top: 10px;
        }
        &__inner {
            display: flex;
            justify-content: space-between;
            color: #ffffff;
            p {
                margin: 0;
            }
        }
    }
}
.pagination-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    @media screen and (max-width: 767px) {
        button {
            font-size: 1em !important;
            height: 30px !important;
            font-weight: 400 !important;
            &.pagination-link {
                width: 30px !important;
            }
        }
    }
    button {
        margin: 0 6px;
        border: 1px solid $theme_dark_clr;
        color: $theme_dark_clr;
        background-color: transparent;
        height: 45px;
        line-height: 1;
        font-size: 1.4em;
        font-weight: 500;
        &:hover,
        &:active,
        &.active {
            color: #ffffff;
            background-color: $theme_dark_clr;
        }
        &.pagination-btn {
            padding: 0 15px;
            border-radius: 27px;
            background-color: $theme_dark_clr;
            color: #ffffff;
            &.disabled {
                opacity: 0.4;
            }
        }
        &.pagination-link {
            width: 45px;
            border-radius: 100%;
        }
    }
}
.theme-clr {
    color: $theme_dark_clr;
}
.side-filter {
    background-color: $theme_dark_clr;
    border-radius: 12px;
    &__text {
        background-color: #ffffff;
        margin: 20px;
        display: block;
        padding: 20px;
        border-radius: 12px;
        text-align: center;
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
    .filter-container__wrapper__input {
        padding: 0 !important;
    }
    @media screen and (min-width: 992px) {
        &.forum_filter {
            padding-top: 20px;
        }
        padding: 100px 0 0;
    }
    @media screen and (max-width: 991px) {
        margin-top: 20px;
    }
    .filter-container {
        &__wrapper {
            flex-direction: column;
            &__input {
                margin-bottom: 10px;
                .custom-btn {
                    padding: 15px;   
                }
            }
        }
    }
}
.forumform {
    input, textarea {
        padding: 8px !important;
    }
    &__box1 {
        @media screen and (min-width: 992px) {
            width: 35%;
        }
        &__row {
            margin: 0 -5px;
            display: flex;
            margin-top: 10px;
        }
        &__col {
            padding: 0 5px !important;
        }
    }
    &__box2 {
        flex: 1;
        textarea {
            height: 88px;
            padding-bottom: 40px !important;
        }
        &__textarea {
            position: relative;
            @media screen and (max-width: 991px) {
                padding: 0 !important;
            }
            button {
                position: absolute;
                bottom: 15px;
                left: 25px;
                background-color: $theme_dark_clr;
                padding: 5px 8px;
                color: #ffffff;
                border: 0;
                outline: none;
                line-height: 1;
                border-radius: 6px;
            }
        }
    }
}
.forum_accordions {
    margin-top: 15px;
    .acc__item {
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0px #bbb;
        border-radius: 12px;
        margin-bottom: 20px;
        @media screen and (max-width: 991px) {
            background-color: $theme_dark_clr;
            color: #ffffff !important;
        }
    }
    .acc_header {
        color: $theme_dark_clr;
        text-decoration: none;
        background-color: #ffffff;
        box-shadow: 0 4px 10px 0px #bbb;
        border-radius: 12px;
        padding: 6px;
        display: block;
        .formobile {
            padding-left: 40px;
        }
        .one {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 991px) {
                border-bottom: 1px solid rgba($theme_dark_clr, 0.2);
                margin-bottom: 10px;
            }
        }
        .acc_header__box1 {
            align-items: center;
            display: flex;
            @media screen and (max-width: 991px) {
                .acc__desc {
                    display: none;
                }
            }
        }
        &[aria-expanded="true"] {
            .acc_header__box2 {
                &::after {
                    border-top: 10px solid #999999;
                    @include rotate(180deg);
                    @include transition(0.3s);
                    top: 0;
                }
            }
        }
        .acc_header__box2 {
            padding-left: 50px;
            position: relative;
            @media screen and (max-width: 991px) {
                padding-left: 0;
                &::after {
                    top: 100%;
                    margin-top: 35px;
                }
            }
            &::after {
                content: '';
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-top: 10px solid $theme_dark_clr;
                position: absolute;
                left: 10px;
                top: 10px;
                @include rotate(0deg);
                @include transition(0.3s);
            }
        }
        .acc__title {
            font-weight: 400;
            font-size: 26px;
            padding-left: 10px;
        }
        .acc__desc {
            font-size: 1rem;
            &__title {
                font-size: inherit;
                font-weight: 500;
                margin: 0;
            }
            p {
                margin: 0;
                font-weight: 300;
            }
        }
    }
    .acc__body {
        color: $theme_dark_clr;
        @media screen and (max-width: 991px) {
            color: #ffffff !important;
            &__top {
                border-bottom: 1px solid rgba(#ffffff, 0.2) !important;
            }
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: inherit;
            border-bottom: 1px solid rgba($theme_dark_clr, 0.2);
            margin-bottom: 10px;
            span {
                font-weight: 300;
            }
            &__date {
                font-weight: 500;
            }
        }
    }
}
.content-panel {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    @media screen and (min-width: 992px) {
        box-shadow: 0px 3px 12px 0px #bbb;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #bbb;
        padding: 10px 0;
        @media screen and (max-width: 991px) {
            margin-bottom: 12px;
        }
        &__title {
            @media screen and (max-width: 991px) {
                text-align: center;
                display: block;
                width: 100%;
            }
            span {
                color: #606060;
                font-size: 1rem;
                font-weight: 400;
            }
        }
        .socialmedia-wrapper {
            padding: 0;
            ul {
                padding: 0;
                margin: 0;
            }
        }
    }
    .doctor-img {
        img {
            margin-top: 20px;
            display: block;
        }
    }
    &__form {
        background-color: $theme_dark_clr;
        padding: 20px;
        border-radius: 12px;
        margin-top: 15px;
        &__header {
            color: #ffffff;
            text-align: center;
            font-size: 1rem;
            font-weight: 300;
            &__title {
                line-height: 1;
                margin: 0;
            }
            p {
                margin-bottom: 5px;
            }
            &__rule {
                width: 200px;
                height: 2px;
                background-color: #ffffff;
                display: block;
                margin: 0 auto;
            }
        }
        &__content {
            padding: 0 !important;
            margin-top: 10px;
        }
    }
    &__content {
        display: flex;
        @media screen and (max-width: 1199px) {
            flex-direction: column-reverse;
        }
        &__text {
            @media screen and (min-width: 1200px) {
                padding: 25px 0 0 50px;
            }
            p {
                line-height: 1;
            }
            &__footer {
                background-color: #ffffff;
                box-shadow: 0 3px 10px 0 #bbb;
                padding: 10px 15px;
                border-radius: 12px;
                display: flex;
                &__inner {
                    overflow-x: auto;
                    width: 100%;
                }
                @media screen and (max-width: 991px) {
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    padding: 20px;
                    &__link {
                        width: auto !important;
                        position: absolute;
                        bottom: 5px;
                        &__btn {
                            padding: 10px 20px !important;
                        }
                        @include translateY(50%)
                    }
                }
                &__images {
                    display: flex;
                    flex: 1;
                    img {
                        max-width: 90px;
                        margin-left: 5px;
                    }
                }
                &__link {
                    width: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    &__btn {
                        background-image: url('./../images/btn_bg.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        text-decoration: none;
                        padding: 12px;
                        border-radius: 12px;
                        color: #ffffff;
                        font-size: 12px;
                    }
                }
            }
        }
        &__img {
            @media screen and (max-width: 1199px) {
                text-align: center;
            }
            img {
                width: 250px;
            }
        }
    }
}
.blogpage {
    main {
        section {
            &.banner-section {
                background: url('./../images/banner_bg.png');
                background-position: bottom left;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
                .banner-content {
                    .banner-btn {
                        cursor: pointer;
                    }
                }
            }
            &.blog-filter {
                margin-bottom: 40px;
            }
            &.blog-center-text {
                .center-text__hr {
                    width: 280px;
                }
            }
            &.blog-tile-section {
                padding: 20px 0;
                .blog-tile {
                    a {
                        text-decoration: none;
                    }
                    background-color: #ffffff;
                    border-radius: 12px;
                    padding: 12px;
                    margin-bottom: 24px;
                    box-shadow: 0px 6px 20px 0px #bbb;
                    &-img {
                        border: 1px solid $theme_dark_clr;
                        border-radius: 12px;
                        overflow: hidden;
                    }
                    &-content {
                        &__inner {
                            text-align: center;
                            &__title {
                                color: $theme_dark_clr;
                                position: relative;
                                padding-bottom: 10px;
                                margin-top: 15px;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 80px;
                                    height: 2px;
                                    background-color: $theme_dark_clr;
                                    bottom: 0;
                                    left: 50%;
                                    @include translateX(-50%);
                                }
                            }
                            p {
                                color: #989898;
                            }
                        }
                        a {
                            color: $theme_dark_clr;
                            font-size: 1em;
                            text-decoration: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1520px !important;
    }
}
@media screen and (min-width: 1900px) {
    .container {
        max-width: 1820px !important;
    }
}